
/* Slider */

.features-slider{
    padding: 0 20px 80px 20px;
    margin: 0 auto;
    position: relative;
}

.features-slider .features-slider-wrapper{
    max-width: 1000px;
    width:100%;
    margin: auto;
    position:relative;
    top:0px;
    min-height:500px;
    overflow:hidden;
}
.features-slider .features-slide{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}
.slider-image{
    text-align: center;
    margin: 30px auto 0px;
    max-width: 599px;
    height: 300px;
    position: relative;
}

.slider-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .slider-image{
        max-width: 399px;
    }

    .slider-image img {
        width: 100%;
    }
}

/* Slider navigation */

.slider-navigation {
    position: absolute;
    top: 300px;
    left: 0;
     width: 100%;
    overflow: visible;
}

.slider-navigation .link {
    color: #ff6600;
    font-size: 72px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.slider-navigation .link.previous {
    left: 20px;
}

.slider-navigation .link.next {
    right: 20px;
}

.disabled .nav-handle {
  display:none;
}

/* Slider navigation v2 */

.slider-navigation.v2 {
    top: 400px;
}
.slider-navigation.v2 .link {
    color: #ff6600;
    font-size: 48px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.slider-navigation.v2 .link.previous {
    left: 120px;
}

.slider-navigation.v2 .link.next {
    right: 120px;
}
/* Slide selection common */

.slide-selection {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.slide-selection ul {
    padding: 0;
}

.slide-selection li {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}

/* Slide selection v1 */

.slide-selection:not(.v2) li a {
    display: block;
    background-color: #999;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 16px;
    vertical-align: middle;
    margin-right:15px;
    cursor:pointer;
}
.slide-selection:not(.v2) li:last-child a {
    margin:0px;
}

.slide-selection:not(.v2) li a.active {
    background-color: #ff6702;
}

/* Slide selection v2 */


.slide-selection.v2 li a:not(.active) {
    display: block;
    background-color: #d5d7d9;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 20px;
    vertical-align: middle;
    margin-right:10px;
    cursor:pointer;
}
.slide-selection:not(.v2) li:last-child a {
    margin:0px;
}

.slide-selection.v2 li a.active {
    background:transparent;
    border:none;
    margin-right:10px;
}

.slide-selection.v2 li a.active:before {
    display:inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f1db";
    color:#f3731f;
    font-size:25px;
}