#ddos-vps h1.page-title{
    font-size:80px;
    font-weight:600;
    color:#ff6700;
    padding-top: 60px;
    line-height: 80px;
}
#ddos-vps h2.page-subtitle{
    font-size:32px;
    font-weight:400;
    color:#fff;
}
#ddos-vps .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}

.choose-location{

    display:inline-block;
    background:transparent;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    margin:0px auto 0px;
    padding:10px 60px;
}
.choose-location .title{
    padding:30px 10px 5px;
    color:#fff;
    font-weight:700;
    font-size:30px;
}
.choose-location .locations-list{
    padding:20px 0px;
    border-top:1px solid rgba(255,255,255,0.77);
}
.choose-location .locations-list .location{
    display:inline-block;
    width:auto;
    height:auto;
    background:#fff;
    padding:20px 45px;
    margin: 5px 5px;
    cursor:pointer;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    border:6px solid #fff;
}

.choose-location .locations-list .location:hover{
    background:#fff;
    border:6px solid #ff6700;
}

.choose-location .locations-list .location .label{
    font-weight:bold;
    color:#222;
    font-size:21px;
}

.choose-location .locations-list .location .price-notice{
    font-weight:normal;
    color:#333;
    font-size:17px;
}

.choose-location .locations-list .location .price-notice .price{
    font-weight:bold;
    color:#ff6700;
    font-size:21px;
}

.what-is-ddos{
    position:relative;
    background-image: url(../images/what-is-ddos.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    min-height: 820px;
    margin:40px 0px;
}
.what-is-ddos .text-block{
    max-width:640px;
    position:absolute;
}
.what-is-ddos .text-block .title{
    color:#333;
    font-size:36px;
}
.what-is-ddos .text-block .text{
    color:#333;
    font-size:15px;
    padding-top:20px;
    line-height: 28px;
}
.what-is-ddos .text-block .text a{
    color:#ff6700;
}

@media screen and (max-width: 1150px) {
    .what-is-ddos{
        background:transparent;
        min-height: auto;
        margin:0px;
    }
    .what-is-ddos .text-block{
        max-width:100%;
        position:relative;
        top:0px !important;
        left:0px !important;
        padding:20px 0px;
    }
}

.why-choose-antidoss{
    background-image: url(../images/orange-city.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 60px 0px;
}

.why-choose-antidoss .row{
    display:table;
    width:100%;
}
.why-choose-antidoss .row .col{
    display:table-cell;
    width: 33.3%;
    border-right:1px solid #ccbaa6;
    border-left:1px solid #fff3e6;
    padding: 0px 20px 0px 30px;
}

@media screen and (max-width: 800px) {
    .why-choose-antidoss .row{
        display:block;
    }
    .why-choose-antidoss .row .col{
        display:block;
        width: 100%;
        border-right:0px;
        border-left:0px;
        padding: 0px;
    }
    .why-choose-antidoss .row .col + .col{
        border-top:1px solid #fff3e6;
        padding-top:10px;
        margin-top:20px;
    }

}
.why-choose-antidoss .col:first-child{
    border-left:none;
    padding-left:0px;
}
.why-choose-antidoss .col:last-child{
    border-right:none;
    padding-right:0px;
}

.why-choose-antidoss .title{
    font-weight: bold;
    font-size: 22px;
}

.why-choose-antidoss ul{
    list-style: none;
    margin-left: 0;
    padding-left: 30px;
    text-indent: -30px;
}
.why-choose-antidoss ul li{
    padding-top:20px;
    font-size: 15px;
    color:#333;
}
.why-choose-antidoss ul li:before{
    font-family: FontAwesome;
    font-size: 15px;
    color:#ff6700;
    content: "\f061";
    padding-right:15px;
}
.why-choose-antidoss p{
    padding-top:20px;
    font-size: 15px;
    color:#333;
}
.why-choose-antidoss .locations{
    font-size: 15px;
    color:#333;
}
.why-choose-antidoss .locations .location img{
    position:relative;
    top:14px;
}


.our-partners{
    background:#e7edf0;
    padding-bottom:60px;
}
.our-partners .row.partners{
    display:table;
    border-collapse: collapse;
    margin:15px auto 0px;
}
.our-partners .row.partners .col.partner{
    display:table-cell;
    background:#fff;
    border:1px solid #cccccc;
    height: 114px;
    width: 197px;
    text-align:center;
    padding:5px;
    vertical-align: middle;
}
@media screen and (max-width: 1150px) {
    .our-partners .row.partners{
        display:block;
        text-align: center;
    }
    .our-partners .row.partners .col.partner{
        display:block;
        height: auto;
        width: 197px;
        border:1px solid #cccccc;
        margin:3px auto;
    }
}

.what-else{
    background: #fff;
}

.faq2{
    background: #fff;
}

.back-box h2{
    font-size:32px;
}
