/*
    v2 used for these landings:
    - chicago-vps
    - germany-vps-hosting
    - south-africa-vps-hosting
    - usa-vps-hosting
*/

.landing-header{
    background-image: url(../images/usavps-header.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding:0px 10px 60px;
}

#germany-vps .landing-header{
    background-image: url(../images/germany-vps-header.jpg);
}
#south-africa-vps .landing-header{
    background-image: url(../images/south-africa-header.jpg);
}
#chicago-vps .landing-header{
    background-image: url(../images/chicago-header.jpg);
}

.landing-header h1.page-title{
    color:#ff6700;
    font-weight:600;
    font-size:80px;
    padding-top: 50px;
}
#germany-vps .landing-header h1.page-title{
    color:#ff6700;
    font-weight:700;
    font-size:70px;
    padding-top: 50px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.41);
}
#south-africa-vps .landing-header h1.page-title{
    color:#ff6700;
    font-weight:700;
    font-size:70px;
    padding-top: 50px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.41);
}
#chicago-vps .landing-header h1.page-title{
    color:#ff6700;
    font-weight:700;
    font-size:70px;
    padding-top: 50px;
    text-shadow: none;
}
.landing-header h2.page-subtitle{
    font-size:32px;
    font-weight: bold;
    max-width:750px;
    display: block;
    margin:auto;
}

#germany-vps .landing-header h2.page-subtitle{
    font-size:32px;
    font-weight: 400;
    line-height: 39px;
}
#chicago-vps .landing-header h2.page-subtitle{
    font-size:32px;
    font-weight: 700;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.41);
}

#south-africa-vps .landing-header h2.page-subtitle{
    font-size:32px;
    font-weight: 400;
}

.landing-header .choose-location{
    display: block;
    background: rgba(0,0,0,0.38);
    min-height: 100px;
    max-width: 606px;
    border: 1px solid #888886;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 35px auto 0px;
    padding: 0px 60px 30px;
}
#germany-vps .landing-header .choose-location{
    padding:25px 35px;
}
#south-africa-vps .landing-header .choose-location{
    padding:25px 35px;
    max-width: 670px;
}
#chicago-vps .landing-header .choose-location{
    padding:25px 35px;
}
.landing-header .choose-location .row{
    display:table;
    width:100%;
}
.landing-header .choose-location .row .cell{
    display:table-cell;
    color:#fff;
    vertical-align: middle;
    text-align:left;
    padding-right:15px;
}
.landing-header .choose-location .row .cell:last-child{
    padding-right:0px;
}
.landing-header .choose-location .loc-name{
    font-size:21px;
    font-weight:700;
}
.landing-header .choose-location .price{
    font-size:18px;
    font-weight:400;
}

.landing-header .choose-location .title{
    padding: 30px 0px 0px;
    font-size:24px;
    color:#fff;
    font-weight:bold;
}

.landing-header .choose-location .location-buttons{
    padding: 30px 0px 0px;
}

.landing-header .choose-location .location-buttons table{
    margin:auto;
}

.landing-header .choose-location .location-buttons table tr td:last-child{
    padding-left:20px;
}
.landing-header .choose-location .location-buttons table tr.prices td{
    padding-top:7px;
    color:#fff;
    font-size:14px;
}

.landing-header .choose-location .location-buttons .button{
    margin-left:20px;
}

.landing-header .choose-location .location-buttons .button:hover {
    background-color: #ec570b;
    border: 3px solid #ec570b;
}
.landing-header .choose-location .location-buttons .button:first-child{
    margin-left:0px;
}

.landing-header .notice{
    padding: 20px 10px 0px;
    margin:0px auto;
    font-size:18px;
    color:#fff;
    font-weight:normal;
    font-style: italic;
    max-width: 700px;
    text-decoration:underline;
    text-align:center;
    cursor:pointer;
}

.usa-locations{
    background-image: url(../images/usa-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding:60px 10px 60px;
    position:relative;
}
.usa-locations:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3);
    box-shadow: -0px 0px 30px rgba(0,0,0,0.3);
    bottom: 0px;
    width: 100%;
    height: 50%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 0;
    right: 0;
}

.usa-locations .loc-row{
    display:table;
    table-layout: fixed;
    width:100%;
}
.usa-locations .loc-row .col{
    display: table-cell;
    border:0px;
    text-align:left;
    padding:0px 30px;
}
.usa-locations .loc-row .col:first-child{padding-left:0px;}
.usa-locations .loc-row .col:last-child{padding-right:0px;}

.usa-locations .loc-row .col .title{
    font-size:36px;
    color:#000;
    font-weight:600;
    padding-bottom:10px;
    border-bottom:2px solid #ff6700;
}
.usa-locations .loc-row .col .title img{
    position: relative;
    top: 10px;
    margin-right:20px;
}

.usa-locations .loc-row .col .content{
    font-size:15px;
    color:#000;
    font-weight:normal;
}
.usa-locations .loc-row .col .content p{
    padding-top:10px;
}
.usa-locations .loc-row .col .content ul{
    padding-top:20px;

    list-style-position: outside;
    padding-left: 20px;
}
.usa-locations .loc-row .col .content ul li{
    list-style-position: outside;
    padding-left: 30px;
    margin-bottom:5px;
}

.locations-wrapper{
    background-image: url(../images/server-bg-grey.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding:0px 10px 50px;
}

.locations-wrapper .title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color:#fff;
    font-weight:400;
    padding-top:45px;
}
.locations-wrapper .subtitle{
    font-size: 24px;
    color:#fff;
    font-weight:300;
    max-width: 950px;
    margin: auto;
}

.locations-wrapper .choose-location {
    display: inline-block;
    background: transparent;
    min-height: 100px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 10px auto 0px;
    padding: 10px 60px;
}

.compare-block{
    padding-bottom:90px;
}
#germany-vps .compare-block, #south-africa-vps .compare-block{
    background:#f6f6f6;
}
.compare-block .title{
    color:#222;
    font-size:36px;
    font-weight:400;
}
#germany-vps .compare-block .title,
#south-africa-vps .compare-block .title,
#chicago-vps .compare-block .title{
    font-size:30px;
}
.compare-block .table-wrap{
    padding-top:30px;
}
.compare-block .table-wrap table{
    width:100%;
    border-collapse: collapse;
}
#germany-vps .compare-block .table-wrap,
#south-africa-vps .compare-block .table-wrap,
#chicago-vps .compare-block .table-wrap{
    width:995px;
    margin: auto;
}
.compare-block .table-wrap table td{
    padding:20px 10px;
    text-align: center;
    border-right:5px solid #fff;
    border-bottom:1px solid #fff;
}
#germany-vps .compare-block .table-wrap table td,
#south-africa-vps .compare-block .table-wrap table td,
#chicago-vps .compare-block .table-wrap table td{
    border-right:5px solid #f6f6f6;
    border-bottom:1px solid #e5e5e5;
}
.compare-block .table-wrap table td.feature{
    font-size:17px;
    font-weight:bold;
    border-bottom:1px solid #dadada;
    padding:20px 0px;
}
.compare-block .table-wrap table td.value{
    font-size:18px;
    font-weight:bold;
    background:#e0e3e6;
    color:#666666;
}
#germany-vps .compare-block .table-wrap table td.value,
#south-africa-vps .compare-block .table-wrap table td.value,
#chicago-vps .compare-block .table-wrap table td.value{
    background:#fff;
}
.compare-block .table-wrap table td.date{
    font-size:15px;
    color:#333;
    border-bottom:1px solid #dadada;
    vertical-align:bottom;
    padding-bottom:25px;
}
.compare-block .table-wrap table td.left{
    text-align:left;
    padding-left:0px;
    line-height: 20px;
}
.compare-block .table-wrap table td.tsmaller{
    font-size:15px;
}
.compare-block .table-wrap table td.h1p{
    background:#f3731f !important;
    color:#fff !important;
    border-bottom:1px solid #f9b98f !important;
}
.compare-block .table-wrap table td i.fa{
    font-size:24px;
}
.compare-block .table-wrap table td.logo{
    width:188px;
}
.compare-block .table-wrap table td.logo .title{
    font-size:24px;
    font-weight:600;
    color:#666666;
}
.compare-block .table-wrap table td.logo.h1p .title{
    font-size:24px;
    font-weight:700;
    color:#fff;
}
.compare-block .table-wrap table td .pic{
    background-image: url(../images/hosting-logos.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;

    width:100px;
    height:100px;
    margin: 0 auto;
}
.compare-block .table-wrap table td .pic.host1plus{
    background-position: 0px 0px;
    width: 60px;
    height: 70px;
}
.compare-block .table-wrap table td .pic.linode{
    background-position: -61px 0px;
    width: 54px;
    height: 70px;
}
.compare-block .table-wrap table td .pic.hostgator{
    background-position: -117px 0px;
    width: 48px;
    height: 70px;
}
.compare-block .table-wrap table td .pic.and1{
    background-position: -167px 0px;
    width: 54px;
    height: 70px;
}
.compare-block .table-wrap table td .pic.bluehost{
    background-position: -221px 0px;
    width: 54px;
    height: 70px;
}
.compare-block .table-wrap table td .pic.hosteurope{
    background-position: 0px -73px;
    width: 124px;
    height: 46px;
}
.compare-block .table-wrap table td .pic.vpsnet{
    background-position: -130px -73px;
    width: 60px;
    height: 60px;
}
.compare-block .table-wrap table td .pic.webafrica{
    background-position: -204px -73px;
    width: 54px;
    height: 60px;
}
.compare-block .table-wrap table td .pic.elitehost{
    background-position: -3px -132px;
    width: 60px;
    height: 60px;
}
.compare-block .table-wrap table td .pic.afrihost{
    background-position: -77px -132px;
    width: 60px;
    height: 60px;
}
.compare-block .table-wrap table td .pic.greengeeks{
    background-position: -148px -132px;
    width: 52px;
    height: 60px;
}
.compare-block .table-wrap table td .pic.vultr{
    background-position: -205px -132px;
    width: 64px;
    height: 60px;
}

.faq{
    background:#f6f6f6;
}

.features-boxes .feature-box{
    display:block;
    float:left;
    width:33%;
    padding:10px;
    text-align:center;
    padding-top:45px;
    min-height: 335px;
}
#south-africa-vps .features-boxes .feature-box{
    min-height: 350px;
}
.features-boxes .fico .ico{
    display:block;
    background-image: url(../images/features-icons.png);
    width: 197px;
    height:137px;
    margin:auto;
}

.features-boxes .feature-box .fico .ico.hardware{ background-position:0px 0px; width: 138px; }
.features-boxes .feature-box .fico .ico.high-speed{ background-position: -148px 0px;width: 197px; }
.features-boxes .feature-box .fico .ico.power{ background-position: -359px 0px;width: 173px;}
.features-boxes .feature-box .fico .ico.cpu{ background-position:0px -153px; width:135px; }
.features-boxes .feature-box .fico .ico.ssd{ background-position: -166px -153px;width: 161px; }
.features-boxes .feature-box .fico .ico.ddos{ background-position: -150px -274px; width:160px; }
.features-boxes .feature-box .fico .ico.dns{ background-position: 0px -283px; width: 148px; }
.features-boxes .feature-box .fico .ico.response,
.features-boxes .feature-box .fico .ico.hdd{ background-position: -317px -273px; width: 219px; }
.features-boxes .feature-box .fico .ico.console{ background-position: -5px -419px; width: 141px; }
.features-boxes .feature-box .fico .ico.ram{ background-position: -345px -142px; width: 152px; }

.view-plans{
    background:#f6f6f6;
    padding:35px;
}
.view-plans .row{
    display:table;
}
.view-plans .row .cell{
    display:table-cell;
    vertical-align:middle;
    padding:30px;
}
#chicago-vps .view-plans .row .cell{
    padding-top:0px;
    padding-bottom:0px;
}
.view-plans .row .cell:first-child{
    padding-left:0px;
}
.view-plans .row .cell:last-child{
    padding-right:0px;
}
.view-plans .row .cell.title{
    border-right:2px solid #f3731f;
    color:#000;
    font-weight:600;
    font-size: 36px;
    line-height: 41px;
}
#south-africa-vps .view-plans .row .cell.title{
    letter-spacing: -2px;
}
#chicago-vps .view-plans .row .cell.title{
    letter-spacing: -2px;
    min-width: 235px;
    font-weight:400;
}
.view-plans .row .cell.title .ico{
    text-align:center;
}
.view-plans .row .cell.description{
    color:#000;
    font-weight:400;
    font-size: 15px;
    padding-right: 0px;
    vertical-align:top;
}
#chicago-vps .view-plans .row .cell.description{
    max-width: 620px;
}

.view-plans .row .cell.description ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 30px;
}
.view-plans .row .cell.description ul li{
    margin-bottom:8px;
}

.view-plans .row .cell .button{
    background:#f6f6f6;
    margin:0px;
}
.view-plans .row .cell .button:hover{
    background:#ff6700;
    color:#fff;
}

#usa-vps .reviews-slider{
    background: #f6f6f6;
}

#usa-vps .faq2{
    background: #f6f6f6;
}

#germany-vps .reviews-slider{
    background: #fff;
}
#germany-vps .faq2{
    background: #fff;
}

#south-africa-vps .reviews-slider{
    background: #fff;
}
#south-africa-vps .faq2{
    background: #fff;
}

#chicago-vps .reviews-slider{
    background: #fff;
}

#chicago-vps .compare-block{
    background: #f6f6f6;
}

#chicago-vps .faq2{
    background: #fff;
}

#chicago-vps .prefooter .sub-title {
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin: 60px auto 10px;
    max-width: 1100px;
    line-height: 40px;
}

@media screen and (max-width: 550px) {
    .choose-location .location-buttons .button{
        margin-left:10px;
        margin-right:10px;
        margin-top:20px;
    }
    .landing-header{
        padding-bottom:20px;
    }
}