body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      color: #333;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
     box-sizing: inherit;
}

a{
    color:#333;
}
a:hover{
    color:#f60;
}

.table{ display:table; }
.cell{ display:table-cell; }

h1.page-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin: 0;
    line-height: 100px;
}

h2.page-subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #fff;

}

h2.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #333;
    padding-top: 50px;
    margin: 0;

}

h3.slide-title {
    font-size: 48px;
    font-weight: 800;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

span.slide-text {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
.hidden{
    display:none;
}

.container{
    width: 1188px;
}


.landing-header {
    background-image: url(../images/cpanelvps-header.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding:0px 10px;
}

#cheap-vps .landing-header{
    background-image: url(../images/cheapvps-header.jpg);
}

#linux-vps .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}

.landing-hosting .landing-header{
    background-image: url(../images/cpanelhosting-header.jpg);
    background-color:#e8eef1;
    background-size: auto;
}

#european-hosting .landing-header{
    background-image: url(../images/european-header.jpg);
    padding-bottom: 60px;
}

#european-hosting .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#european-hosting .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
    max-width: 808px;
}


#ubuntu-hosting .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}
#ubuntu-hosting .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#ubuntu-hosting .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
}

#centos-hosting .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}
#centos-hosting .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#centos-hosting .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
}

#debian-hosting .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}
#debian-hosting .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#debian-hosting .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
}

#linux-hosting .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
    padding-bottom: 60px;
}

#linux-hosting .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#linux-hosting .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
}


#linux-vps .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#linux-vps .landing-header h2.page-subtitle{
    font-size:32px;
}

#openvpn-vps .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}
#openvpn-vps .landing-header h1.page-title{
    color:#ff6700;
    font-size:80px;
    padding-top: 50px;
}
#openvpn-vps .landing-header h2.page-subtitle{
    font-size:32px;
    margin: auto;
    line-height: 42px;
}

.landing-hosting .landing-header h1.page-title{
    font-weight:800;
    font-size:58px;
    padding-top: 50px;
    text-shadow: -2px 4px 0px rgba(0, 0, 0, 0.26);
    line-height: 58px;
}
#affordable-hosting.landing-hosting .landing-header h1.page-title{
    padding-top: 100px;
}
.landing-hosting .landing-header h2.page-subtitle{
    font-size:30px;
}

.landing-hosting .plansnpricing{
    padding-bottom: 30px;
}
#affordable-hosting.landing-hosting .plansnpricing{
    padding-bottom: 70px;
}
.landing-hosting .plansnpricing .title{
    color:#fff;
    font-size:24px;
    font-weight:bold;
    text-shadow: -2px 4px 0px rgba(0, 0, 0, 0.26);
}
.landing-hosting .plansnpricing .arrow_down{
    background-image: url(../images/plans_arrow_down.png);
    background-repeat: no-repeat;
     background-position: center top;
    display:block;
    width:42px;
    height:42px;
    margin:auto;
}

.landing-hosting .hosting-promo-block{
    background:#fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:#31487c;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.13);
    padding:20px 15px;
    margin-top:20px;
}
#affordable-hosting.landing-hosting .hosting-promo-block{
    margin-bottom:20px;
    margin-top:0px;
}
.landing-hosting .hosting-promo-block .block-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    text-align:left;
    padding:0px;
}
.landing-hosting .hosting-promo-block .promo-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 31px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.landing-hosting .hosting-promo-block .promo-code{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 31px;
    font-weight: 700;
}
.landing-hosting .hosting-promo-block table{
    width:100%;
}
.landing-hosting .hosting-promo-block table td{
    text-align:left;
    vertical-align: top;
}
.landing-hosting .hosting-promo-block table td:last-child{
    text-align:right;
}
.landing-hosting .notice.compare{
    color:#0066ff;
    font-size: 15px;
    font-weight: 700;
    font-style:normal;
    text-decoration: none;
    padding-top:30px;
    padding-bottom:30px;
}
.landing-hosting .notice.compare .underline{
    text-decoration: underline;
}
.landing-hosting .notice.compare i.fa{
    position:relative;
    top:-2px;
}

/* Choose location */

.choose-location{

    display:inline-block;

    background:rgba(255,255,255,0.77);
    min-height:100px;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    margin:80px auto 0px;
    padding:10px 60px;

    /* shadow */
}
.choose-location .title{
    padding: 20px 10px 10px;
    color:#222;
    font-weight:500;
}
.choose-location .arrow-down{
    background-image: url(../images/cpanelvps-arrowdown.png);
    background-repeat: no-repeat;
     background-position: center top;
    display:block;
    width:42px;
    height:42px;
    margin:auto;
}
.choose-location .locations-list{
    padding:20px;
}
.choose-location .locations-list .location{
    display:inline-block;
    width:191px;
    height:175px;
    background:#fff;
    padding:10px 5px;
    margin: 5px 5px;
    cursor:pointer;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
.choose-location .locations-list .location:hover{
    background:#ecf5fe;
}

.choose-location .locations-list .location .label{
    font-weight:bold;
    color:#222;
    font-size:21px;
}

.choose-location .locations-list .location .price-notice{
    font-weight:normal;
    color:#333;
    font-size:17px;
}

.choose-location .locations-list .location .price-notice .price{
    font-weight:bold;
    color:#ff6700;
    font-size:21px;
}

.os-container{
    color:#333;
    font-size:24px;
    font-weight:600;
}
.os-container .title{
    color:#333;
    font-size:24px;
    font-weight:600;
}
.os-container .os-list{
    color:#333;
    font-size:16px;
    font-weight:400;
}
.os-container .os-list .os{
    color:#333;
    font-size:16px;
    font-weight:400;
    display:inline-block;
    padding: 15px 15px 0px;
}
.os-container .os-list .os .ico{
    display:block;
    background-image: url(../images/vps-os.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 59px;
    margin:auto;
}
.os-container .os-list .os .ico.ubuntu{
    background-position: 0px 0px;
    width: 61px;
    height: 59px;
}
.os-container .os-list .os .ico.fedora{
    background-position: -60px 0px;
    width: 63px;
    height: 60px;
}
.os-container .os-list .os .ico.debian{
    background-position: -122px 0px;
    width: 51px;
    height: 60px;
}
.os-container .os-list .os .ico.centos{
    background-position: -174px 0px;
    width: 59px;
    height: 60px;
}
.os-container .os-list .os .ico.suse{
    background-position: -233px 0px;
    width: 91px;
    height: 45px;
}
.os-container .bottom-notice{
    color:#333;
    font-size:13px;
    font-weight:400;
    padding-top:15px;
    padding-bottom: 10px;
}


/*----*/

.landing-notice{
    background:#ff6600;
    color:#fff;
    text-align:center;
    padding:10px 10px;
}
.landing-notice .container{
    padding:0px;
}

#cheap-vps .landing-notice{
    background:#053a5e;
    color:#fff;
    text-align:center;
    padding:5px 10px;
}
#cheap-vps .landing-notice .row{
    display:table;
    padding:10px 0px;
    width:100%;
}
#cheap-vps .landing-notice .side{
    display:table-cell;
    vertical-align:top;
}
#cheap-vps .landing-notice .side.left{ text-align:left; }
#cheap-vps .landing-notice .side.right{ text-align:left;width:1px; }

#cheap-vps .landing-notice .side.left .ln1{
    font-size:62px;
    font-weight:bold;
    line-height: 55px;
}
#cheap-vps .landing-notice .side.left .ln2{
    font-size:20px;
    font-weight:300;
}

#cheap-vps .landing-notice .side.right .ln1{
    font-size:35px;
    font-weight:normal;
    line-height: 33px;
    position: relative;
    left: -2px;
}
#cheap-vps .landing-notice .side.right .ln2{
    font-size:48px;
    font-weight:bold;
    line-height: 45px;
}

.landing-header .notice{
    padding: 10px 10px 20px;
    margin:0px auto;
    font-size:18px;
    color:#333;
    font-weight:normal;
    font-style: italic;
    max-width: 700px;
    text-decoration:underline;
    text-align:center;
    cursor:pointer;
}
.landing-header .distributions{
    font-size:15px;
    color:#333;
    padding-bottom:20px;
    font-weight:600;
}
.landing-header .distributions .compare{
    color:#0066ff;
    cursor:pointer;
    padding-top:10px;
}
.landing-header .distributions .compare .underline{
    text-decoration:underline;
}
.landing-header .distributions .compare .fa-sort-desc{
    position:relative;
    top:-2px;
}

/* Reviews slider*/

.reviews-slider{
    background: #e7edf0;
    color: #333333;
}

.reviews-slider .reviews-slider-wrapper{
    margin: auto;
    position:relative;
    top:0px;
    min-height:200px;
    overflow:hidden;
}
.reviews-slider .reviews-slide{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.reviews-slider h2.title {
    color: #333333;
    font-size:48px;
}

.reviews-container {
    max-width: 1188px;
    padding: 0 20px 80px 20px;
    margin: 0 auto;
    position: relative
}


#what-else .h1p-features .block-tabs .app-tabs .tab.desktop {
    width: 160px;
}

/* vps-locations */
.vps-locations{
    background-image: url(../images/frankfurt_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 1920px;
    background-size: cover;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding:0px 10px;
}
.vps-locations[data-selected-loc=de]{
    background-image: url(../images/frankfurt_bg.jpg);
}
.vps-locations[data-selected-loc=za]{
    background-image: url(../images/johanesburg_bg.jpg);
}
.vps-locations[data-selected-loc=br]{
    background-image: url(../images/sanpaulo_bg.jpg);
}
.vps-locations[data-selected-loc=us-la]{
    background-image: url(../images/losangeles_bg.jpg);
}
.vps-locations[data-selected-loc=us-ch]{
    background-image: url(../images/chickago_bg.jpg);
}

.vps-locations .title{
    font-size:48px;
    color:#fff;
    padding-top:35px;
}
.vps-locations .vps-locations-container{
    display:inline-block;

    background:rgba(255,255,255,0.77);
    min-height:100px;
    width: 1188px;

    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    margin:35px auto 0px;
    padding:0px 0px 20px;
}
.vps-locations .flags .flag{
    position:relative;
    display:inline-block;
    padding:5px 55px;
    cursor:pointer;
    border-left: 1px solid #e8ebf5;
    border-right: 1px solid #b8bbc4;
    margin-top: 37px;
}
.vps-locations .flags .flag.active:before{
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 20px 0 20px;
    border-color: #ff6700 transparent transparent transparent;

    position: absolute;
    top: -37px;
    margin: auto;
    left: 0;
    right: 0;
}
.vps-locations .flags .flag:last-child{
    border-right: none;
}
.vps-locations .flags .flag:first-child{
    border-left: none;
}
.vps-locations .flags .flag .label{
    font-size:21px;
    color: #333;
}
.vps-locations .flags .flag .content.mob{
    display:none;
}


.vps-locations .about-location{
    display:block;
    width:70%;
    margin:auto;
    padding:30px 10px 50px;
}
.vps-locations .about-location .location-description{
    display:none;
}
.vps-locations .about-location .location-description.active{
    display:block;
}
.vps-locations .about-location .title{
    font-size:42px;
    color:#333;
    padding-top: 0px;
}
.vps-locations .about-location .content{
    padding-top:15px;
    font-size:21px;
    color:#333;
}


/* Back to top line */

.back-to-top {
    background: #ff7500;
}

.back-to-top table{
    width:100%;
}

.back-to-top .back-box {
    max-width: 1188px;
    margin: 0 auto;
    padding: 30px 0;
}

.back-box ul{
    text-align: center;
}

.back-box li {
    list-style: none;
    display: inline-block;
}

.back-box table td:last-child {
    text-align:right;
}

.back-box .main-text {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    padding: 0 20px;
}

.back-to-top .back-box a.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color 200ms ease,color 200ms ease;
    -moz-transition: background-color 200ms ease,color 200ms ease;
    transition: background-color 200ms ease,color 200ms ease;
    height: 71px;
    line-height: 61px;
    -webkit-font-smoothing: antialiased;
    background-color: #ff7500;
    border-radius: 10px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 0px 30px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    /* margin: 20px; */
}

.back-to-top .back-box a.button:hover {
    background: #fff;
    color: #ff7500;
}

.fa.fa-angle-up{
    font-size: 28px;
    padding-left: 5px;
}


/* Prefooter block */

.prefooter {
    margin: 0 auto;
    padding-bottom:60px;
    text-align: center;
}

#linux-vps .prefooter {
    background:#e7edf0;
}

h3.sub-title {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin: 60px auto 10px;
    max-width:1100px;
    line-height: 60px;
}

h3.sub-sub-title {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 0px 0px 10px;
}


.prefooter p {
    text-align: center;
}

.prefooter .simple-text{
    font-size:28px;
    font-weight:300;
}

.prefooter a.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color 200ms ease,color 200ms ease;
    -moz-transition: background-color 200ms ease,color 200ms ease;
    transition: background-color 200ms ease,color 200ms ease;
    height: 40px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ff7500;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin: 30px 20px 20px;
}

.prefooter a.button:hover {
    color: #fff;
    background: #ff6700;
}

.prefooter a.button.orange {
    color: #fff;
    background: #ff7500;
}

.features-boxes{
    padding-bottom:50px;
}
.features-boxes .feature-box{
    display:block;
    float:left;
    width:33%;
    padding:10px;
    text-align:center;
    padding-top:45px;
}
.features-boxes .feature-box:nth-child(3n+2){
    clear:left;
}
.features-boxes .fico .ico{
    display:block;
    background-image: url(../images/features-boxes.jpg);
    width:137px;
    height:137px;
    margin:auto;
}

.features-boxes .feature-box .fico .ico.scalable{ background-position:0px 0px; }
.features-boxes .feature-box .fico .ico.locations{ background-position:-139px 0px; }
.features-boxes .feature-box .fico .ico.dns{ background-position:-278px 0px; }
.features-boxes .feature-box .fico .ico.protection{ background-position:0px -153px; }
.features-boxes .feature-box .fico .ico.linux{ background-position:-139px -153px; }
.features-boxes .feature-box .fico .ico.click{ background-position:-279px -153px; }
.features-boxes .feature-box .fico .ico.console{ background-position:0px -300px; }
.features-boxes .feature-box .fico .ico.cp{ background-position:-139px -300px; }

.features-boxes .feature-box .fico .ico.security{ background-position:-421px -0px; }
.features-boxes .feature-box .fico .ico.speed{ background-position:-420px -153px; }
.features-boxes .feature-box .fico .ico.speed2{ background-position:-420px -300px; }
.features-boxes .feature-box .fico .ico.support{ background-position:-279px -300px; }
.features-boxes .feature-box .fico .ico.settings{ background-position:0px -442px; }
.features-boxes .feature-box .fico .ico.fingerprint{ background-position:-138px -442px; }
.features-boxes .feature-box .fico .ico.releases{ background-position:-278px -442px; }
.features-boxes .feature-box .fico .ico.privacy{ background-position:-422px -442px; }
.features-boxes .feature-box .fico .ico.portspeed{ background-position:-560px -0px; }
.features-boxes .feature-box .fico .ico.remote{ background-position:-560px -154px; }
.features-boxes .feature-box .fico .ico.multi-location{ background-position:-560px -301px; }

.features-boxes .feature-box .fico .ico.cpanel{ background-position:-560px -442px; }
.features-boxes .feature-box .fico .ico.wp{ background-position:-0px -585px; }
.features-boxes .feature-box .fico .ico.puzzle{ background-position:-137px -585px; }
.features-boxes .feature-box .fico .ico.tools{ background-position:-279px -585px; }
.features-boxes .feature-box .fico .ico.shield{ background-position:-419px -585px; }
.features-boxes .feature-box .fico .ico.www{ background-position:-560px -585px; }

.features-boxes .feature-box .ftitle{
    font-size:24px;
    font-weight:normal;
    color:#333;
}

.features-boxes .feature-box .fcontent{
    font-size:16px;
    font-weight:300;
    color:#444;
}

.landing-hosting .webhosting-info{
}
.landing-hosting .webhosting-info .plans-pricing-table .plan .plan-block{
    border:none;
    text-align: left;
}
.landing-hosting .webhosting-info .plans-pricing-table .plan .plan-block.active{
    border:none;
    background:#fff;
}

.landing-hosting .webhosting-info .title{
    color:#333;
    font-size: 36px;
    text-align: center;
}

.landing-hosting .webhosting-info .locations{
}
.landing-hosting .webhosting-info .locations .loc{
    display:inline-block;
    padding:25px;
}
.landing-hosting .webhosting-info .locations .loc .cityname{
    font-weight:bold;
    font-size:15px;
    color:#333;
}
.landing-hosting .webhosting-info .locations .loc .countryname{
    font-weight:normal;
    font-size:12px;
    color:#333;
}

.landing-hosting .features-boxes h2.title {
    color: #333333;
    font-weight:normal;
    font-size:36px;
}
.landing-hosting .features-boxes .fico .ico{
    display:block;
    background-image: url(../images/features-boxes-hosting.png);
    width: 160px;
    height: 90px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing-hosting .features-boxes .feature-box .fico .ico.cpanel{
    background-position:0px 0px;
    width: 160px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.setup{
    background-position: -167px 0px;
    width: 116px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.optimized{
    background-position: -302px 0px;
    width: 113px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.speed{
    background-position: 0px -98px;
    width: 88px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.regular{
    background-position: -167px -98px;
    width: 108px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.statistics{
    background-position: -302px -98px;
    width: 104px;
    height: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.domain{
    background-position: -0px -194px;
    height: 90px;
    width: 127px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.security{
    background-position: -166px -194px;
    height: 90px;
    width: 90px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.management{
    background-position: -303px -194px;
    height: 91px;
    width: 95px;
}
.landing-hosting .features-boxes .feature-box .fico .ico.email-acc{
    background-position: -0px -288px;
    height: 102px;
    width: 100px;
}

.landing-hosting .faq{
    background:#e7edf0;
}

.landing-hosting .prefooter .title{
    padding-top:50px;
    font-size:48px;
    font-weight: normal;
}
.landing-hosting .prefooter .subtitle{
    padding:20px 10px 10px;
    font-size:30px;
    font-weight: 300;
}
.landing-hosting .prefooter p{
    max-width:450px;
    font-size:15px;
    margin:auto;
}

#wp-vps h1.page-title{
    font-size:80px;
    font-weight:600;
    color:#ff6700;
    padding-top: 60px;
    line-height: 80px;
}
#wp-vps h2.page-subtitle{
    font-size:32px;
    font-weight:400;
    color:#fff;
}

#wp-vps .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}


#vps-web-hosting h1.page-title{
    font-size:80px;
    font-weight:600;
    color:#ff6700;
    padding-top: 60px;
    line-height: 80px;
}
#vps-web-hosting h2.page-subtitle{
    font-size:32px;
    font-weight:400;
    color:#fff;
    line-height: 40px;
    padding-top: 10px;
}

#vps-web-hosting .landing-header{
    background-image: url(../images/linuxvps-header.jpg);
}

#vps-web-hosting .landing-notice{
    background: #f0f4f5;
    padding-top:10px;
}
#vps-web-hosting .landing-notice td{
    vertical-align:middle;
    text-align:left;
    padding:20px;
}
#vps-web-hosting .ico.vps-server{
    background-image: url(../images/vps-ico.png);
    display:block;
    width:234px;
    height: 224px;
}
#vps-web-hosting .landing-notice .title{
    font-size:38px;
    font-weight:400;
    color:#444b4e;
    padding-bottom:0px;
}
#vps-web-hosting .landing-notice .description{
    font-size:18px;
    font-weight:400;
    color:#565c5f;
    padding-top:0px;
    vertical-align:top;
}

#openvpn-vps .landing-notice{
    background: #e7edf0;
    padding:45px;
}
#openvpn-vps .landing-notice td{
    vertical-align:middle;
    text-align:left;
    padding:10px 35px;
}
#openvpn-vps .landing-notice .title{
    font-family: 'Ubuntu', sans-serif;
    font-size:36px;
    font-weight:700;
    color:#333333;
    border-right:2px solid #f3731f;
}
#openvpn-vps .landing-notice .description{
    font-size:18px;
    font-weight:300;
    color:#565c5f;
}

#vps-web-hosting .features-boxes h2.title{
    font-size:48px;
    font-weight:400;
    color:#444b4e;
}
#vps-web-hosting .features-boxes .feature-box{
    min-height: 310px;
}
#vps-web-hosting .features-boxes .fico .ico{
    display:block;
    background-image: url(../images/features-boxes-vps-hosting.jpg);
    width: 160px;
    height: 90px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#vps-web-hosting .features-boxes .feature-box .fico .ico.reliable{
    background-position:0px 0px;
    width: 72px;
    height: 77px;
}
#vps-web-hosting .features-boxes .feature-box .fico .ico.blogging{
    background-position: -98px 0px;
    width: 120px;
    height: 77px;
}
#vps-web-hosting .features-boxes .feature-box .fico .ico.running{
    background-position: -228px 0px;
    width: 93px;
    height: 76px;
}
#vps-web-hosting .features-boxes .feature-box .fico .ico.ftp{
    background-position: 0px -91px;
    width: 82px;
    height: 77px;
}
#vps-web-hosting .features-boxes .feature-box .fico .ico.gaming{
    background-position: -98px -91px;
    width: 106px;
    height: 77px;
}
#vps-web-hosting .features-boxes .feature-box .fico .ico.backup-data{
    background-position: -228px -91px;
    width: 75px;
    height: 77px;
}
#vps-web-hosting .features-boxes .feature-box .ftitle{
    font-size:21px;
    padding-bottom:10px;
}

.save-time{
    background: #ff6700;
    padding:10px;
}
.save-time td{
    vertical-align:middle;
    text-align:left;
    padding:20px;
}
.save-time .ico.save-time-ico{
    background-image: url(../images/save-time.png);
    display:block;
    width: 137px;
    height: 158px;
}
.save-time .title{
    font-size:38px;
    font-weight:400;
    color:#fff;
    padding-bottom:0px;
}
.save-time .description{
    font-size:18px;
    font-weight:400;
    color:#fff;
    padding-top:0px;
    vertical-align:top;
}

#vps-web-hosting .h1p-features .title{
    font-size: 48px;
    font-weight: normal;
    color:#444b4e;
}
#vps-web-hosting .faq{
    background:#e7edf0;
}
#vps-web-hosting .prefooter{
    padding-bottom: 30px;
}
#vps-web-hosting .prefooter p{
    font-size:25px;
    font-weight:300;
}

.button.big {
    height: 60px;
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;
    padding: 15px 30px;
}
.button.orange {
    background-color: #ff6700;
    border: 3px solid #ff6700;
    color: #000;
}
.button.orange:hover {
    background-color: #ec570b;
    border: 3px solid #ec570b;
}
.button.orange-border{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background-color 200ms ease,color 200ms ease;
    -moz-transition: background-color 200ms ease,color 200ms ease;
    transition: background-color 200ms ease,color 200ms ease;
    height: 40px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ff7500;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin: 30px 20px 20px;
}
.button.orange-border:hover {
    color: #fff;
    background: #ff6700;
}
.button.blue-full {
    color: #fff;
    background: #223269;
    border-radius: 0px;
    width:100%;
}
.button.blue-full:hover {
    color: #fff;
    background: #ff6700;
}

.services-container{
    text-align: center;
    padding-top:35px;
}

.else-locations{
    color: #333;
    background: #e7edf0;
    padding-bottom:60px;
}

.else-locations h2{
    color: #333333;
    font-size:38px;
    font-weight:300;
    display:block;
    margin:auto;
}
.else-locations .services-container{
    padding-top:45px;
}

#european-hosting .reviews-slider{
    background: #fff;
}

#linux-hosting .faq2{
    background: #fff;
}


#ubuntu-hosting .compare-block{
    background: #e7edf0;
}
#ubuntu-hosting .payment-methods{
    background: #fff;
}
#centos-hosting .what-else{
    background: #e7edf0;
}
#centos-hosting .faq2{
    background: #e7edf0;
}
#centos-hosting .payment-methods{
    background: #fff;
}


#ubuntu-hosting .back-box .main-text,
#debian-hosting .back-box .main-text,
#centos-hosting .back-box .main-text{
    font-size:30px;
    line-height: 37px;
}
#ubuntu-hosting .prefooter .sub-title,
#debian-hosting .prefooter .sub-title,
#centos-hosting .prefooter .sub-title{
    font-size:38px;
    margin-bottom: 0px;
    line-height: 40px;
}
#ubuntu-hosting .prefooter .sub-sub-title,
#debian-hosting .prefooter .sub-sub-title,
#centos-hosting .prefooter .sub-sub-title{
    font-size:28px;
}


#debian-hosting .what-else{
    background: #e7edf0;
}
#debian-hosting .faq2{
    background: #e7edf0;
}
#debian-hosting .payment-methods{
    background: #fff;
}

#germany-vps .prefooter h3.sub-title{
    font-size:45px;
}

#affordable-hosting .payment-methods{
    background:#fff;
}
#affordable-hosting .features-boxes{
    background:#e7edf0;
}
#affordable-hosting .reviews-slider{
    background:#fff;
}
#affordable-hosting .what-else{
    background: #e7edf0;
}
#affordable-hosting .back-to-top .main-text{
    font-size:30px;
    line-height:35px;
}

#openvpn-vps .back-to-top .main-text{
    font-size:30px;
    line-height:35px;
}

#wp-vps .services-compare .title{
    font-size:36px;
    font-weight:400;
}
#wp-vps .back-to-top .main-text{
    font-size:30px;
    line-height:35px;
}
#wp-vps .prefooter h3.sub-title{
    font-size:36px;
    margin-bottom:0px;
    line-height: 42px;
}

.oslogo{
    display:inline-block;
    background-image: url(../images/os_logos.png);
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.oslogo.ubuntu{
    background-position:0px 0px;
    width: 60px;
    height: 60px;
}
.oslogo.debian{
    background-position: -121px 0px;
    width: 52px;
    height: 62px;
}
.oslogo.centos{
    background-position:-62px 0px;
    width: 60px;
    height: 60px;
}