@media screen and (max-width: 1280px) {

    .container{
        width:100%;
        padding-left:20px;
        padding-right:20px;
    }

    h1.page-title{
        padding-top:20px;
    }

    .tablet-pad{
        padding-right:10px;
        padding-left:10px;
    }


    span.review{
        padding: 10px 100px 20px;
    }
    .slider-navigation.v2 .link.previous{
        left:50px;
    }
    .slider-navigation.v2 .link.next{
        right:50px;
    }
    .slider-image{
        margin-top:20px;
    }
    .slider-navigation{
        top:250px;
    }

    .vps-locations .flags .flag{
        padding:5px 20px;
    }

    #cheap-vps .landing-notice .side{
        display:block;
    }
    #cheap-vps .landing-notice .side.left{
        text-align:center;
    }
    #cheap-vps .landing-notice .side.right{
        text-align:center;
        padding-top:20px;
    }
    #cheap-vps .landing-notice .side.right .ln1,
    #cheap-vps .landing-notice .side.right .ln2 {
        display: inline;
        font-size:48px;
    }
    .features-boxes .feature-box{
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        min-height: 325px;
    }
    .features-boxes .feature-box:nth-child(3n+2){
        clear:none;
    }
    .features-boxes .feature-box:nth-child(2n+2){
        clear:left;
    }

}

@media screen and (max-width: 1200px) {
    .vps-locations .vps-locations-container{
        width:auto;
    }
}

@media screen and (max-width: 1000px) {
    #vps-compare{
        display:none;
    }
}
@media screen and (max-width: 992px) {

    .h1p-features .app-tabs{
        display:none;
    }
    .h1p-features .tabs-wrapper{
        padding:10px 15px 0px;
    }
    .h1p-features .tab.mob:first-child{
        border-top:none;
    }
    .h1p-features .block-tabs .tabs {
        padding-bottom: 20px;
    }
    .h1p-features .block-tabs .tabs .tab-content img{
        display:none;
    }

    .h1p-features .block-tabs .tabs .tab-content .title{
        display:none;
    }

    .h1p-features .block-tabs .tabs .tab-content p{
        text-align:left;
    }

    /* vps locations bottom */
    .vps-locations{

    }
    .vps-locations .flags .flag{
        display:block;
        border:none;
        border-bottom:1px solid #ccc;
        text-align:left;
        margin:7px 20px 0px;
        padding: 0px;
        padding-bottom:5px;
    }
    .vps-locations .flags .flag.active:before{
        content:"";
        display:none;
    }
    .vps-locations .flags .flag:last-child{
        border:none;
    }
    .vps-locations .flags .flag .ico{
        display:inline-block;
        position: relative;
        top: 6px;
    }
    .vps-locations .flags .flag .ico img{
        width:30px;
    }
    .vps-locations .flags .flag .label{
        display:inline-block;
        padding-left: 10px;
    }
    .vps-locations .flags .flag.active .content.mob{
        display:block;
    }
    .vps-locations .about-location{
        display:none;
    }

    .web-vs-vps table th{
        font-size:26px;
    }
    .web-vs-vps table .box {
        font-size: 15px;
    }
    .web-vs-vps table .feature-name .box {
        font-size: 18px;
    }

    #vps-web-hosting .features-boxes .feature-box {
        min-height: 360px;
    }


}

@media screen and (max-width: 760px) {

    .web-vs-vps{
        display:none;
    }

    .features-boxes .feature-box{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        min-height: auto !important;
    }

    table{
        display:block;
    }
    td{
        display:block;
    }

    .excl-mob{
        display:none;
    }

    .usa-locations .loc-row .col{
        display: block;
        padding:10px !important;
    }

    .view-plans .row .cell{
        display:block;
        text-align:center;
    }
    .view-plans .row .cell.title{
        border:0px;
        text-align:center;
    }

    .back-to-top .back-box{
        text-align:center;
    }
    .back-box table td:last-child {
        padding-top:10px;
        text-align: center;
    }

}
@media screen and (max-width: 480px) {

    .landing-header .choose-location .row .cell{
        display:block;
        text-align:center !important;
    }

}