@media screen and (min-width: 992px) {
  .headline.cloud-introduction {
    height: 500px;
    background-image: none;
    background-color: transparent !important;
  }
}

.admin-bar .header.header-fixed {
  top: 32px;
}

.wpb_single_image img {
  width: 100%;
}

.wpb_single_image .vc_figure {
  display:block !important;
}

.wpb_single_image .vc_single_image-wrapper {
  display: block !important;
}

.vc_row {
  position: relative;
}

.land-color-bg-1 {
  background-color: #00a1f1;
}


.h1p-feature-block {
  text-align: center;
  img {
    margin: 0 auto;
    display: block;
  }
  h3 {
    width: 100%;
    float:left;
    margin-bottom: 20px;
  }
}