.land-color-bg-1 {
    background-color: #00a1f1;
}
.land-color-bg-2 {
    background-color: #932279;
}
.land-color-bg-3 {
    background-color: #d70751;
}
.land-color-bg-4 {
    background-color: #294172;
}
.land-color-bg-5 {
    background-color: #f47421;
}

.h-300 {
    height: 300px;
}
.h-360 {
    height: 360px;
}


/*Declarations for list items*/
ul.features-list {
    list-style-position: outside;

    &.spaced {
        li + li {
            margin-top: 10px;
        }
    }

    a {
        color: $bg-dark-grey;
    }

    /* 
    Recommended styling is via FontAwesome:
    ul.fa-ul
        li>i.fa-li.fa.fa-angle-right
    */

    &.fa-ul {
        @include media(max-width $breakpoint-small-mobile) {
            margin-left: 0;
        }
    }

}



/* Declarations for landing pages crossed boundary block positioning */
.margin-top-pusher {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    z-index: 1000;

    @include media (max-width 485px) {
        &.h-300 {
            margin-top: -150px;
        }
        &.h-360 {
            margin-top: -150px;
        }
    }

    @include media (min-width 486px) {
        &.h-300 {
            min-height: 300px;
            margin-top: -150px;
        }
        &.h-360 {
            min-height: 360px;
            margin-top: -150px;
        }
    }
}
.margin-top-compensator {

    /* purpose is to lift up layers
       goes together with .margin-top-pusher
    */

    @include media (max-width 485px) {
        &.h-300 {
            margin-bottom: -150px;
        }
        &.h-360 {
            margin-bottom: -200px;
        }
    }

    @include media (min-width 486px) {
        &.h-300 {
            margin-bottom: -150px;
        }
        &.h-360 {
            margin-bottom: -200px;
        }
    }
    
}



/*Landing header element*/
.headline.landing-header1 {
    display: block;

    .container {
        /* exception to general - making exact container width */
        @include media(max-width $breakpoint-desktop) {
            width: 100%;
        }
        @include media(min-width ($breakpoint-desktop + 1)) {
            width: 1024px;
        }
    }

    .wrapper {
        padding-top: 90px;
        overflow: hidden;
    }

    .page-title {
        padding: 0 !important;
        font-family: $font-family-headers;
        /* font-size: 60px; */

        @include media(max-width $breakpoint-small-mobile) {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 20px;
            font-size: 42px;
            line-height: 46px;
        }
        @include media(min-width ($breakpoint-small-mobile) max-width ($breakpoint-mobile - 1)) {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 20px;
            font-size: 50px;
            line-height: 56px;
        }
        /* @include media(max-width ($breakpoint-mobile - 1)) {
            font-size: 42px;
            line-height: 46px;
        } */
    }
    .title-follow-text {
        font-family: $font-family-headers;
        font-size: 36px;
        font-weight: 300;
        color: #fff;
        /* text-shadow: 0 0 10px rgba(0,0,0,0.3); */
        @include media(max-width $breakpoint-small-mobile) {
            font-size: 26px;
            line-height: 32px;
        }
        @include media(min-width $breakpoint-small-mobile max-width ($breakpoint-mobile - 1)) {
            font-size: 30px;
            line-height: 38px;
        }

        .highlight {
            font-weight: bold;
            color: #EC742F;
        }
    }

    .home-slider-feat-wrap {
        padding: 10px 20px;
        color: #fff;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(255,255,255,0.3);

        @include media(min-width ($breakpoint-mobile)) {
            display: flex;
            width: 550px;
            justify-content: space-between;
        }
        @include media(max-width ($breakpoint-mobile - 1)) {
            display: inline-block;
            margin: 0 auto;
            padding-left: 30px;
            padding-right: 30px;
        }

        .fa {
            color: $color-highlight;
        }
        .feat-wrap-block {
            /* display: inline-block;
            width: 33%; */
            @include media(max-width ($breakpoint-mobile - 1)) {
                margin: 5px 0;
            }
        }
    }
}


/*Layout features*/

.full-viewport-height {
    height: 100vh;
}
.full-viewport-height-sub-header {
    height: calc(100vh - 140px);

    @include media (max-width 799px) {
        /*height: calc(100vh - 112px);*/
        height: auto;
    }
}

.biface-cards {
    .block-col {

        /* Defaults */
        position: relative;
        padding: 0;
        overflow: hidden;
        cursor: pointer;

        @include media(max-width 600px) {

        }

        .main-face {
            /*visibility and model is defined with helper classes*/
        }
        .alternate-face {
            /*visibility and model is initial state - invisible*/
            position: absolute;
            opacity: 0;
        }

        /*Proportional elements inside card faces*/
        .feature-image-wrapper {
            width: 25%;
            max-width: 90px;
            margin-right: 8%;
        }
        .feature-title {
            width: 150px;
            max-width: 40%;
        }

    }

}






/*Page based elements*/
.landing-brazilvps {
    .has-special-background-positioning1 {
        background-image: url("images/landing-brazilvps-bg1_full.gif");
        background-position: calc(50% - 240px) calc(0% - 140px);
        background-size: 755px 899px;
        background-repeat: no-repeat;

        @include media (max-width $breakpoint-mobile) {
            background-image: none;
        }
    }
    .has-special-background-positioning2 {
        background-image: url("images/landing-brazilvps-bg1_fragment.gif");
        background-position: center center;
        background-size: 190px auto;
        background-repeat: no-repeat;

        @include media (min-width ($breakpoint-mobile+1)) {
            background-image: none;
        }
    }

    .has-special-text-behavior {
        @include media (min-width $breakpoint-mobile max-width 890px) {
            .block-title-small {
                font-size: 1.2em !important;
            }
            .t-16-shrinked {
                font-size: 14px !important;
            }
        }
        @include media (max-width ($breakpoint-mobile+1)) {
            &.h-300 {
                /*overides for space savings*/
                height: auto !important;
                padding-bottom: 40px;
            }
        }
    }
}

.pt_BR .landing-brazilvps {
    .has-special-text-behavior .t-16-shrinked {
        @include media (min-width 890px) {
            font-size: 14px !important;
        }
    }
}

.landing-germanyvps {
    .has-special-background-positioning1 {
        background-image: url("images/landing-germanyvps-bg1_full.gif");
        background-position: calc(50% + 980px) calc(0% - 20px);
        /*background-size: 755px 899px;*/
        background-repeat: no-repeat;

        @include media (max-width $breakpoint-mobile) {
            background-image: none;
        }
    }
    .has-special-background-positioning2 {
        background-image: url("images/landing-germanyvps-bg1_fragment.gif");
        background-position: center center;
        background-size: 300px auto;
        background-repeat: no-repeat;

        @include media (min-width ($breakpoint-mobile+1)) {
            background-image: none;
        }
    }
    .has-special-text-behavior {
        @include media (min-width $breakpoint-mobile max-width 890px) {
            .block-title-small {
                font-size: 1.2em !important;
            }
            .t-16-shrinked {
                font-size: 14px !important;
            }
        }
        @include media (max-width ($breakpoint-mobile+1)) {
            &.h-360 {
                /*overides for space savings*/
                height: auto !important;
                padding-bottom: 40px;
            }
        }
    }
}

.landing-germanycs {

    .block-col.has-special-background-positioning1 {
        width: 100%;
        height: 405px;
        background-image: url("images/landing-germanycs-bg1_fragment.png");
        background-position: left center;
        background-size: 976px auto;
        background-repeat: no-repeat;
        border: 1px solid #dce5e8;

        @include media(max-width 485px) {
            background-position: calc(0px + 7%) calc(50%);
        }
    }

    .biface-cards .block-col {

        @include media (min-width 770px max-width 896px) {
            width: 45%;
        }
        @include media (min-width 486px max-width 769px) {
            width: 80%;
            max-width: 450px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        
        .main-face, .alternate-face {
            height: 180px;
        }
    }
}

.landing-vpssrv {
    .has-special-background-positioning1 { 
        min-height: 512px;
        background-image: url("images/landing-vpsserver_bg1.png");
        background-position: calc(50% + 100px) calc(50% + 20px);
        background-size: 905px 512px;
        background-repeat: no-repeat;

        @include media (max-width $breakpoint-mobile) {
            background-image: none;
            min-height: auto;
        }

    }
    img.responsive {
        @include media(max-width 485px) {
            width: 85px;
        }
    }
    h1.page-title.responsive {
        @include media(max-width 485px) {
            font-size: 36px;
        }
    }
}

.landing-usavps {
    .block-title-strikethrough-close {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
}

.landing-ubuntuvps {
    .has-special-background-positioning1 { 
        min-height: 512px;
        background-image: url("images/landing-tuts-laptop.png");
        background-position: calc(50% + 100px) calc(50% + 10px);
        background-size: 905px 512px;
        background-repeat: no-repeat;

        @include media (max-width $breakpoint-mobile) {
            background-image: none;
            min-height: auto;
        }

    }
    img.responsive {
        @include media(max-width 485px) {
            width: 85px;
        }
    }
    h1.page-title.responsive {
        @include media(max-width 485px) {
            font-size: 36px;
        }
    }
}

.block-offer1-container {

    /*This block is replicated in main css, because of element use in ./vps-hosting/ */

    margin: 0 40px;

    @include media (max-width 500px) {
        margin: 0;
    }

    @include media (min-width $breakpoint-mobile max-width 880px) {
        margin: 0;
    }

    &.container-flex {
        @include media (max-width ($breakpoint-mobile - 1)) {
            justify-content: center;
        }
    }

    .block-offer1 {
        border: 1px solid #c0cad3;
        background-color: white;

        @include media (max-width ($breakpoint-mobile - 1)) {
            max-width: 440px;
            margin: 0 auto;
        }

        @include media (min-width $breakpoint-mobile) {
            width: calc(50% - 1.5%);
        }

        & + .block-offer {
            @include media (max-width ($breakpoint-mobile - 1)) {
                margin-top: 15px;
            }
            @include media (min-width $breakpoint-mobile) {
                margin-left: 3%;
            }
        }

        .wrapper-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 30px 35px;
        }

        a.wrapper-content {
            color: $text-color-default;
            text-decoration: none;
        }

        a:hover.wrapper-content {
            text-decoration: underline;
        }

        img {
            display: inline-block;
        }

    }
}

.block-offer2-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    &.container-flex {
        @include media (max-width ($breakpoint-mobile - 1)) {
            flex-wrap: wrap;
        }
    }

    .block-offer2 {
        margin: 14px 7px 0;

        a.wrapper-content {
            display: block;
            padding: 30px 0 15px;
            min-width: 230px;
            min-height: 220px;
            color: $text-color-default;
            background: white;
            text-align: center;
            text-decoration: none;
            border-bottom: 3px solid white;
        }
        a:hover.wrapper-content {
            border-bottom: 3px solid #fe6300;
        }
        .title-paragraph-lower {
            font-size: 20px;
            padding-bottom: 3px;
        }
    }
}