/*Landing Page Headers*/

.headline {

    margin-bottom: 0;
    background-color: #3046A0;
    background-repeat: no-repeat;
    background-position: center top;

    background-size: cover;

    &.adjust-vertical-center {
        /*assuming .headline gets display:flex from main stylesheet*/
        justify-content: center;
        align-items: center;
    }

    &.landing-wincs,
    &.landing-iaas {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_wincs_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_wincs_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_wincs_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_wincs_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_wincs_sm_2x.jpg"); }
    }

    &.landing-cheapvps,
    &.landing-ubuntuvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_cheapvps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_cheapvps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_cheapvps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_cheapvps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_cheapvps_sm_2x.jpg"); }
    }

    &.landing-lincs,
    &.landing-kvmvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_lincs_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_lincs_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_lincs_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_lincs_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_lincs_sm_2x.jpg"); }
    }

    &.landing-brazilvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_brazilvps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_brazilvps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_brazilvps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_brazilvps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_brazilvps_sm_2x.jpg"); }
    }
    &.landing-linuxvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_lin1vps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_lin1vps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_lin1vps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_lin1vps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_lin1vps_sm_2x.jpg"); }
    }
    &.landing-windowsvps,
    &.landing-cheapwindowsvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_win1vps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_win1vps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_win1vps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_win1vps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_win1vps_sm_2x.jpg"); }
    }
    &.landing-germanyvps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_germanyvps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_germanyvps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_germanyvps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_germanyvps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_germanyvps_sm_2x.jpg"); }
    }
    &.landing-germanycs {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_germanycs_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_germanycs_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_germanycs_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_germanycs_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_germanycs_sm_2x.jpg"); }
    }
    &.landing-vpssrv {
        /*@include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header1080_vpssrv_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header768_vpssrv_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header640_vpssrv_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header512_vpssrv_md_2xvert.jpg"); }
        @include media(min-width 768px max-width 1024px min-height 1024px max-height 1366px) { background-image: url("images/headers/header512_vpssrv_md_2xvert.jpg"); background-position: center center;}*/
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_vpssrv_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_vpssrv_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_vpssrv_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_vpssrv_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_vpssrv_sm_2x.jpg"); }
    }
    &.landing-cpanelcs {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header450_cpanelvps_hd.jpg"); }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header450_cpanelvps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header500_cpanelvps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header500_cpanelvps_md.jpg"); }
        @include media(max-width $breakpoint-small-mobile) { background-image: url("images/headers/header500_cpanelvps_sm_2x.jpg"); }
    }
    &.landing-usavps {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header1080_usavps_hd.jpg"); background-position: center center; }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header768_usavps_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header640_usavps_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header512_usavps_md_2xvert.jpg"); }
        @include media(min-width 768px max-width 1024px min-height 1024px max-height 1366px) { background-image: url("images/headers/header512_usavps_md_2xvert.jpg"); background-position: center bottom;}
    }
    &.landing-linuxsrv {
        @include media(min-width ($breakpoint-desktop+1)) { background-image: url("images/headers/header1080_linuxsrv_hd.jpg"); background-position: center center; }
        @include media(max-width $breakpoint-desktop) { background-image: url("images/headers/header768_linuxsrv_lg.jpg"); }
        @include media(max-width $breakpoint-tablet) { background-image: url("images/headers/header640_linuxsrv_md_2x.jpg"); }
        @include media(max-width $breakpoint-mobile) { background-image: url("images/headers/header512_linuxsrv_md_2xvert.jpg"); }
        @include media(min-width 768px max-width 1024px min-height 1024px max-height 1366px) { background-image: url("images/headers/header512_linuxsrv_md_2xvert.jpg"); background-position: center bottom;}
    }

}

.header-small-18 {
    font-size: 18px !important;
    font-weight: 600 !important;
}