/*Colors*/

.land-color-style1 {
    color: #81888d;
}
.land-color-style2 {
    color: #424c54;
}
.land-color-bg-style1 {
    background-color: #2d3941;
}
.land-color-bg-style2 {
    background-color: #eef2f4;
} 
.land-color-bg-style3 {
    background-color: #233268;
}

/*Spacings*/

.spacer-h-200 {
    padding-top: 200px;
}

.white-dim1 {
    color: #e7edf0;
}

.white-dim2 {
    color: #bdccd5;
}


/*Elements*/

.block-col.separator-line {
    @include media (max-width ($breakpoint-mobile - 1)) {
        border-bottom: 1px solid #c7d4db;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    @include media (min-width $breakpoint-mobile) {
        border-right: 1px solid #c7d4db;
        &:last-child {
            border-right-width: 0;
        }
    }
}
.block-col.md-vert-pad {
    @include media (max-width ($breakpoint-mobile - 1)) {
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
.block-col.rounded4 {
    border-radius: 4px;
}

/*Recaptcha element resizing on mobile*/
.page.landing {
    .contact-form {
        .row.submit .wpcf7-form-control-wrap {
            @include media(max-width 600px) {
                display: inline-block;
                float: none;
                margin: 20px auto 0;
                text-align: center;
            }
        }
        .wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
            @include media(max-width 485px) {
                display: block;
                margin: 0 -15px;
                padding: 10px 0 !important;
                @include transform(scale(0.8));
            }
            @include media(min-width 486px max-width 600px) {
                display: block;
                transform: scale(1);
            }
        }
        .submit-button {
            @include media(max-width 600px) {
                display: block;
                width: 100%;
                float: none;
            }
        }
    }
}