.table {

    /* Mind the table structure

    <thead>
        <tr>
            <th></th>
            <th></th>
            ...
        </tr>
        ...
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td></td>
            ...
        </tr>
        ...
    */

    th {
        font-weight: normal;
    }

    &.landing-table-default {
        tr th,
        tr td {
            height: 60px;
            text-align: center;
            border-top: 1px solid #ededed;

            @include media(max-width 485px) {
                height: 50px;
            }
        }
        tr:last-child th,
        tr:last-child td {
            border-bottom: 1px solid #ededed;
        }
        tr th.title,
        tr td.title {
            padding-left: 20px;
            min-width: 300px;
            text-align: left;
            font-weight: normal;

            @include media(max-width 768px) {
                min-width: 300px;
            }
            @include media(max-width 485px) {
                min-width: 200px;
            }
        }
    }

    .emphasize {
        font-family: $font-family-headers;
        font-size: 20px;
        color: $color-green;
        font-weight: 600;
    }

    .landing-table-header {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        font-size: 20px;
        background-color: #eef2f4;
    }
    .landing-table-header.emphasize {
        font-size: 24px;
        font-weight: 600 !important;
        color: inherit;
    }

    .availability {
        &.yes {
            background-image: url(../img/resellers/yes_icon.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            @include media(max-width 485px) {
                background-size: 30px 30px;
            }
        }
        &.yes.selected {
            background-image: url(../img/resellers/yes_icon_active.svg);
        }
        &.no {
            background-image: url(../img/resellers/no_icon.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            @include media(max-width 485px) {
                background-size: 30px 30px;
            }
        }
        &.no.selected {
            background-image: url(../img/resellers/no_icon_active.svg);
        }
    }

    &.landing-table-color-1 {
        $table-border-color: #eef2f4;
        $table-background-color: white;
        
        width: 100%;
        background-color: $table-background-color;

        tbody tr {
            border-top: 1px solid $table-border-color;
        }
        thead tr th,
        tbody tr td {
            height: 65px;
        }
        thead tr th.selected {
            color: white;
            background-color: #233268;
        }
        tbody tr td.selected {
            color: white;
            background-color: #f37422;
        }

    }

    &.landing-table-text-1 {
        th, td {
            font-weight: 300;
            text-align: center;
        }
        thead tr th:first-child,
        tbody tr th {
            padding-left: 30px;
            text-align: left;
        }
    }
    &.landing-table-text-2 {
        font-family: $font-family-headers;
    }

    &.table-col-5 {
        thead tr th,
        tbody tr td {
            width: 20% !important;
        }
    }


    /*
        Page speciffic
    */

    &.landing-cheapvps .provider {
        $table-border-color: #eef2f4;

        display: -webkit-inline-box;
        margin-top: 10px;
        width: 200px;
        height: 88px;
        //border: 1px solid $table-border-color;
        background-image: url("images/cheap_vps_comparison_table.png");

        tbody tr td {
            border-left: 1px solid $table-border-color;
        }

        &.host1plus {
            background-position: 0 0;
        }

        &.mediatemple {
            background-position: -200px 0;
        }
        &.vpsnet {
            background-position: -400px 0;
        }
        &.ramnode {
            background-position: -600px 0;
        }
    }
    &.landing-linuxvps {
        font-size: 18px;
    }

}

.tablesaw {

    /*Imperative setting for tablesaw table*/
    &.table-col-5 {
        thead tr th,
        tbody tr td {
            width: 20% !important;
        }
    }

    thead tr:first-child th {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.landing-linuxvps .tablesaw-bar {
    @include media (min-width 1024px) {
        display: none;
    }
}